@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
}

.header .logo img{
    width: 20%;
    height: 3rem;
    top: 0;
    left: 0;
}

.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar ul li{
    margin: 0 1.5rem;
}

.header .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}

.header .navbar ul li a:hover{
    color: #00bfff;
    text-decoration: underline;
}

.header .logo i{
    padding: 0.5rem;
}

.header .fa-bars{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home{
    min-height: 70vh;
    width: 100vw;
    background-image: url(../images/img3.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home h2{
    color: #fff;
    font-size: 5.5rem;
}

.career-heading{
    text-align: center;
}

.heading{
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: #002e5f;
    position: relative;
    letter-spacing: .2rem;
    margin: -2rem auto 2rem auto;
}

.career-heading p{
    font-size: 2rem;
    color: #333;
}

.heading::before, .heading::after{
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid #002e5f;
    border-left: .4rem solid #002e5f;
}

.heading::before{
    top: 5.8rem;
    left: -2rem;
}

.heading::after{
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}

.career
		{
			width: 80%;
			height: auto;
			margin: 5rem auto 5rem auto;
			display: flex;
			flex-wrap: wrap;
			padding: 10px;
			border-radius: 10px;
			background: #fff;
			box-shadow: 0px 0px 10px 0px #666;
		}
		.career-form
		{
            margin-top: .5rem;
			width: 100%;
			height: auto;
			flex: 50%;
			text-align: left;
		}
		.career-form-txt, .career-form-experience
		{
            margin-left: 2rem;
			width: 96.5%;
			height: 40px;
			color: #000;
			border: 1px solid #bcbcbc;
			border-radius: 50px;
			outline: none;
			margin-bottom: 20px;
			padding: 15px;
            font-size: 1.5rem;
		}
        .career-form-email
		{
            margin-left: 2rem;
			width: 96.5%;
			height: 40px;
			color: #000;
			border: 1px solid #bcbcbc;
			border-radius: 50px;
			outline: none;
			margin-bottom: 20px;
			padding: 15px;
            font-size: 1.5rem;
		}
		.career-form-txt::placeholder, .career-form-experience::placeholder
		{
			color: #aaa;
            font-size: 1.5rem;
		}
        .career-form-email::placeholder
		{
			color: #aaa;
            font-size: 1.5rem;
		}
        .radio-class
		{
            margin-left: 1rem;
			width: 110%;
            margin-top: -2rem;
			height: 40px;
			color: #000;
			margin-bottom: 5rem;
			padding: 15px;
		}
        .radio
        {
            margin-top: .75rem;
            font-size: 1.5rem;
            margin-right: 9.5rem;
        }
		.career-form-txtarea
		{
            margin-left: 2rem;
			width: 96.5%;
			height: 130px;
			color: #000;
			border: 1px solid #bcbcbc;
			border-radius: 10px;
			outline: none;
			margin-bottom: 20px;
			padding: 15px;
			font-family: 'Poppins', sans-serif;
            font-size: 1.5rem;
		}
		.career-form-txtarea::placeholder
		{
			color: #aaa;
            font-size: 1.5rem;
		}
        .file   
		{
            margin-left: 1rem;
			width: 100%;
            margin-top: -2.5rem;
			height: 40px;
			color: #000;
			margin-bottom: 5rem;
			padding: 15px;
		}
        .upload
        {
            margin-top: .75rem;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
		.career-form-btn
		{
            margin-left: 2rem;
            outline: none;
            border: none;
            border-radius: 5rem;
            background: white;
            border-style: groove;
            border-color: #002e5f;
            font-size: 1.5rem;
            cursor: pointer;
            height: 3.5rem;
            margin-top: 1rem;
            margin-bottom: .5rem;
            width: 15rem;
            box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
		}
        .career-form-btn:hover{
            letter-spacing: .1rem;
            opacity: .9;
            color: white;
            background: #002e5f;
        }
		.career-form-phone
		{
            margin-left: 2rem;
			width: 96.5%;
			height: 40px;
			color: #000;
			border: 1px solid #bcbcbc;
			border-radius: 50px;
			outline: none;
			margin-bottom: 20px;
			padding: 15px;
            font-size: 1.5rem;
		}
		.career-form-phone::placeholder
		{
			color: #aaa;
            font-size: 1.5rem;
		}

.footer {
    position: relative;
    padding: 0 0 30px 0;
    background: #333;
}

.footer .footer-top {
    background: #002e5f;
    padding: 60px 0 30px 0;
}

.footer .footer-top .footer-info,
.footer .footer-top .footer-links,
.footer .footer-top .footer-contact,
.footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

.footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ffffff;
    color: #00bfff;
    line-height: 1;
    padding: 9px 0;
    margin-right: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    background: #00bfff;
    color: #ffffff;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer .footer-top h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 50px;
    border-bottom: 2px solid #ffffff;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ffffff;
    font-size: 16px;
}

.footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #ffffff;
    padding: 7px 0;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    font-size: 14px;
    color: #ffffff;
}

.footer .footer-top .footer-links ul a:hover {
    color: #00bfff;
}

.footer .footer-top .footer-contact p {
    color: #ffffff;
    line-height: 26px;
}

.footer .footer-top .footer-newsletter input[type="email"] {
    padding: 6px 8px;
    width: 60%;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
}

.footer .footer-top .footer-newsletter input[type="submit"] {
    border: 0;
    width: 40%;
    padding: 6px 0;
    text-align: center;
    color: black;
    border: 1px solid #ffffff;
    background: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

.footer .footer-top .footer-newsletter input[type="submit"]:hover {
    color: #ffffff;
    background: #00bfff;
    border: 1px solid #00bfff;
    letter-spacing: .2rem;
}

.footer .footer-top .footer-newsletter p {
    color: #ffffff;
    font-size: 14px;
}

.footer .credit,
.footer .copyright {
    text-align: center;
    padding-top: 30px;
}

.back-to-top {
    position: fixed;
    display: none;
    background-color: #00bfff;
    color: #ffffff;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 1;
    font-size: 44px;
    right: 15px;
    bottom: 15px;
    transition: background 0.3s;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
}

.back-to-top i:hover {
    color: black;
}

@media (min-width: 768px) {
    .footer .credit {
        text-align: right;
    }
    
    .footer .copyright {
        text-align: left;
    }
}

@media (max-width: 1000px){
    html{
        font-size: 50%;
    }

    .header .logo img{
        width: 20%;
        height: 3rem;
        top: 0;
        left: 0;
        background-size: cover;
    }

    .header .fa-bars{
        display: block;
        color: 	white;
    }

    .header .fa-bars:hover{
        color: #00bfff;
    }

    .header .navbar{
        position: fixed;
        top: -120%;
        left: 0;
        height: auto;
        width: 100%;
        background-color: white;
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
    }

    .header .navbar ul li{
        margin: 1rem 0;
    }

    .header .navbar ul li a{
        color: grey;
        font-size: 2.4rem;
    }

    .header .fa-times{
        transform: rotate(90deg);
    }

    .header .nav-toggle{
        top: 5.8rem;
    }

    .home{
        min-height: 60vh;
    }

    .home h2{
        color: #fff;
        font-size: 4rem;
    }

    .back-to-top {
        width: 30px;
        height: 30px;
        font-size: 30px;
    }
}

@media (max-width: 1500px){
    .career
    {
        width: 80%;
        height: auto;
        margin: 5rem auto 5rem auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 0px 10px 0px #666;
    }
    .career-form
    {
        margin-top: .5rem;
        width: 100%;
        height: auto;
        flex: 50%;
        text-align: left;
    }
    .career-form-txt, .career-form-experience
    {
        margin-left: 1rem;
        width: 96.5%;
        height: 40px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 50px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 1.5rem;
    }
    .career-form-email
    {
        margin-left: 1rem;
        width: 96.5%;
        height: 40px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 50px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 1.5rem;
    }
    .career-form-txt::placeholder, .career-form-experience::placeholder
    {
        color: #aaa;
        font-size: 1.5rem;
    }
    .career-form-email::placeholder
    {
        color: #aaa;
        font-size: 1.5rem;
    }
    .radio-class
    {
        margin-left: 0;
        width: 110%;
        margin-top: -2.5rem;
        height: auto;
        color: #000;
        margin-bottom: auto;
        padding: 15px;
    }
    .radio
    {
        font-size: 1.5rem;
        margin-right: 5rem;
    }
    .career-form-txtarea
    {
        margin-left: 1rem;
        width: 96.5%;
        height: 130px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
    }
    .career-form-txtarea::placeholder
    {
        color: #aaa;
        font-size: 1.5rem;
    }
    .file   
    {
        margin-left: 0;
        width: 100%;
        margin-top: -2.5rem;
        height: 40px;
        color: #000;
        margin-bottom: 5rem;
        padding: 15px;
    }
    .upload
    {
        margin-top: .75rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .career-form-btn
    {
        margin-left: 1rem;
        outline: none;
        border: none;
        border-radius: 5rem;
        background: white;
        border-style: groove;
        border-color: #002e5f;
        font-size: 1.5rem;
        cursor: pointer;
        height: 3.5rem;
        margin-top: 1rem;
        margin-bottom: .5rem;
        width: 15rem;
        box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
    }
    .career-form-btn:hover{
        letter-spacing: .1rem;
        opacity: .9;
        color: white;
        background: #002e5f;
    }
    .career-form-phone
    {
        margin-left: 1rem;
        width: 96.5%;
        height: 40px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 50px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 1.5rem;
    }
    .career-form-phone::placeholder
    {
        color: #aaa;
        font-size: 1.5rem;
    }
}




















        #ft-form {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15
}
#ft-form *,
#ft-form ::after,
#ft-form ::before {
  box-sizing: border-box
}
#ft-form input,
#ft-form select,
#ft-form textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
#ft-form select {
  text-transform: none
}
#ft-form [type=submit] {
  -webkit-appearance: button
}
#ft-form legend {
  padding: 0
}
#ft-form h2,
#ft-form p {
  margin: 0
}
#ft-form fieldset {
  margin: 0;
  padding: 0
}
#ft-form html {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5
}
#ft-form body {
  font-family: inherit;
  line-height: inherit
}
#ft-form *,
#ft-form ::after,
#ft-form ::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb
}
#ft-form textarea {
  resize: vertical
}
#ft-form input::-moz-placeholder,
#ft-form textarea::-moz-placeholder {
  color: #9ca3af
}
#ft-form input:-ms-input-placeholder,
#ft-form textarea:-ms-input-placeholder {
  color: #9ca3af
}
#ft-form input::placeholder,
#ft-form textarea::placeholder {
  color: #9ca3af
}
#ft-form h2 {
  font-size: inherit;
  font-weight: inherit
}
#ft-form input,
#ft-form select,
#ft-form textarea {
  padding: 0;
  line-height: inherit;
  color: inherit
}
#ft-form [type=date],
#ft-form [type=email],
#ft-form [type=tel],
#ft-form [type=text],
#ft-form select,
#ft-form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0;
  padding-top: .5rem;
  padding-right: .75rem;
  padding-bottom: .5rem;
  padding-left: .75rem;
  font-size: 1rem;
  line-height: 1.5rem
}
#ft-form [type=date]:focus,
#ft-form [type=email]:focus,
#ft-form [type=tel]:focus,
#ft-form [type=text]:focus,
#ft-form select:focus,
#ft-form textarea:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
  border-color: #2563eb
}
#ft-form input::-moz-placeholder,
#ft-form textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1
}
#ft-form input:-ms-input-placeholder,
#ft-form textarea:-ms-input-placeholder {
  color: #6b7280;
  opacity: 1
}
#ft-form input::placeholder,
#ft-form textarea::placeholder {
  color: #6b7280;
  opacity: 1
}
#ft-form select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact
}
#ft-form [type=checkbox],
#ft-form [type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px
}
#ft-form [type=checkbox] {
  border-radius: 0
}
#ft-form [type=radio] {
  border-radius: 100%
}
#ft-form [type=checkbox]:focus,
#ft-form [type=radio]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
}
#ft-form [type=checkbox]:checked,
#ft-form [type=radio]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat
}
#ft-form [type=checkbox]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e")
}
#ft-form [type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e")
}
#ft-form [type=checkbox]:checked:focus,
#ft-form [type=checkbox]:checked:hover,
#ft-form [type=radio]:checked:focus,
#ft-form [type=radio]:checked:hover {
  border-color: transparent;
  background-color: currentColor
}
#ft-form [type=checkbox]:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat
}
#ft-form [type=checkbox]:indeterminate:focus,
#ft-form [type=checkbox]:indeterminate:hover {
  border-color: transparent;
  background-color: currentColor
}
#ft-form [type=file] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit
}
#ft-form [type=file]:focus {
  outline: 1px auto -webkit-focus-ring-color
}
#ft-form fieldset {
  font-size: 100%;
  margin-top: 3rem;
  margin-bottom: 1.5rem
}
#ft-form fieldset:first-child {
  margin-top: 0
}
#ft-form fieldset > * {
  display: block;
  margin-bottom: 1.5rem
}
#ft-form fieldset > :last-child {
  margin-bottom: 0
}
#ft-form fieldset > .two-cols > * {
  display: block;
  margin-bottom: 1.5rem
}
#ft-form fieldset > .two-cols > :last-child {
  margin-bottom: 0
}
@media only screen and (min-width:640px) {
  #ft-form fieldset > .two-cols {
    display: flex;
    align-items: flex-end
  }
  #ft-form fieldset > .two-cols > * {
    display: block;
    margin-right: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    flex: 1
  }
  #ft-form fieldset > .two-cols > :last-child {
    margin-right: 0
  }
}
#ft-form fieldset div > label {
  display: inline-flex;
  align-items: flex-start;
  margin-top: .5rem;
  width: 100%
}
#ft-form fieldset div > label:last-child {
  margin: .5rem 0 0 0
}
#ft-form fieldset div.inline {
  padding: .55rem 0 0;
  width: 100%
}
#ft-form fieldset div.inline > label {
  width: auto;
  margin-right: .5rem
}
#ft-form fieldset div.inline > label:last-child {
  margin-right: 0
}
#ft-form fieldset > .two-cols div.inline {
  padding: .55rem 0
}
#ft-form fieldset > legend {
  font-weight: 700;
  font-size: 120%;
  margin-bottom: 1rem
}
#ft-form fieldset > p {
  margin: 0
}
#ft-form [type=file] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0;
  padding-top: .5rem;
  padding-right: .75rem;
  padding-bottom: .5rem;
  padding-left: .75rem;
  font-size: 1rem;
  line-height: 1.5rem
}
#ft-form [type=file]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
  border-color: #2563eb
}
#ft-form [multiple],
#ft-form [type=date],
#ft-form [type=datetime-local],
#ft-form [type=email],
#ft-form [type=file],
#ft-form [type=month],
#ft-form [type=number],
#ft-form [type=password],
#ft-form [type=search],
#ft-form [type=tel],
#ft-form [type=text],
#ft-form [type=time],
#ft-form [type=url],
#ft-form [type=week],
#ft-form select,
#ft-form textarea {
  border-radius: .375rem;
  margin-top: .25rem;
  box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
  border-color: #bbb;
  width: 100%
}
#ft-form [multiple] select,
#ft-form [type=date] select,
#ft-form [type=datetime-local] select,
#ft-form [type=email] select,
#ft-form [type=file] select,
#ft-form [type=month] select,
#ft-form [type=number] select,
#ft-form [type=password] select,
#ft-form [type=search] select,
#ft-form [type=tel] select,
#ft-form [type=text] select,
#ft-form [type=time] select,
#ft-form [type=url] select,
#ft-form [type=week] select,
#ft-form select select,
#ft-form textarea select {
  padding-right: 2.5rem
}
#ft-form [multiple]:focus,
#ft-form [type=date]:focus,
#ft-form [type=datetime-local]:focus,
#ft-form [type=email]:focus,
#ft-form [type=file]:focus,
#ft-form [type=month]:focus,
#ft-form [type=number]:focus,
#ft-form [type=password]:focus,
#ft-form [type=search]:focus,
#ft-form [type=tel]:focus,
#ft-form [type=text]:focus,
#ft-form [type=time]:focus,
#ft-form [type=url]:focus,
#ft-form [type=week]:focus,
#ft-form select:focus,
#ft-form textarea:focus {
  border-color: #bbb;
  box-shadow: 0 0 0 0 #fff,0 0 0 3px rgba(199,210,254,.5),0 0 #0000
}
#ft-form [type=checkbox],
#ft-form [type=radio] {
  color: #4f46e5;
  box-shadow: none;
  border-radius: .25rem;
  border-color: #bbb;
  margin-right: .5rem
}
#ft-form [type=checkbox]:focus,
#ft-form [type=radio]:focus {
  border-color: #bbb;
  box-shadow: 0 0 0 0 #fff,0 0 0 3px rgba(199,210,254,.5),0 0 #0000
}
#ft-form [type=radio] {
  border-radius: 100%
}
#ft-form .btns {
  text-align: right;
  margin-top: 3rem
}
#ft-form .btns > input[type=button],
#ft-form .btns > input[type=reset],
#ft-form .btns > input[type=submit] {
  display: inline-block;
  box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
  line-height: 1.25rem;
  border-width: 1px;
  border-radius: .375rem;
  border-color: #bbb;
  background-color: #fff;
  cursor: pointer;
  margin-left: .5rem;
  font-weight: 700
}
#ft-form .btns > input[type=button]:focus,
#ft-form .btns > input[type=reset]:focus,
#ft-form .btns > input[type=submit]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: #bbb;
  box-shadow: 0 0 0 2px #fff,0 0 0 4px rgba(199,210,254,.5),0 0 #0000
}
#ft-form .btns > input[type=submit] {
  background-color: #f3f4f5;
  transition: background-color .1s
}
#ft-form .btns > input[type=submit]:hover {
  background-color: #f8f9fa
}
